job_index:
    path:     /
    defaults: { _controller: "AppBundle:Job:index" }
    methods:  GET

job_show:
    path:     /{company}/{location}/{id}/{position}
    defaults: { _controller: "AppBundle:Job:show" }
    methods:  GET
    requirements:
      id:  \d+

job_new:
    path:     /new
    defaults: { _controller: "AppBundle:Job:new" }
    methods:  [GET, POST]

job_edit:
    path:     /{id}/edit
    defaults: { _controller: "AppBundle:Job:edit" }
    methods:  [GET, POST]

job_note:
    path:   /{id}/note
    defaults: { _controller:"AppBundle:Job:note"}
    methods: [GET, POST]

job_delete:
    path:     /{id}/delete
    defaults: { _controller: "AppBundle:Job:delete" }
    methods:  DELETE
